<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <a href="#" th:href="@{/app/ticket-by-name}">
        <button> Find ticket by name</button>
    </a>
    <a href="#" th:href="@{/app/edit/ticket}">
        <button> Add new Ticket</button>
    </a>
    <a href="#" th:href="@{/app/tickets}">
        <button> All Tickets</button>
    </a>
</div>
<div th:if="${#lists.isEmpty(tasks)}">
    <td colspan="2"> No Tickets Available</td>
</div>
<div th:if="${not #lists.isEmpty(tasks)}">
    <table>
        <thead>
        <th>Tittle h1</th>
        <th>For</th>
        <th>Created</th>
        <th>Done</th>
        </thead>
        <tbody>
        <tr th:each="task : ${tasks}">
            <td>
                <a th:href="@{/task/view/{id}(id=${task.id})}">
                    <span th:text="${task.tittle}"> Title </span>
                </a>
            </td>
            <td>
                <a th:href="@{/task/view/{id}(id=${task.id})}">
                    <span th:text="${task.user.firstName}"> For </span>
                </a>
            </td>
            <td>
                <a th:href="@{/task/view/{id}(id=${task.id})}">
                    <span th:text="${task.createdDate}"> Author </span>
                </a>
            </td>
            <td>
                <a th:href="@{/task/view/{id}(id=${task.id})}">
                    <th:block th:switch="${task.doneDate}">
                        <div th:case="null">
                            <span>no</span>
                        </div>
                        <div th:case="*">
                            <span>yes</span>
                        </div>
                    </th:block>
                </a>
            </td>
            <td>
                <a th:href="@{/app/edit/ticket/{id}(id=${task.id})}">
                    <button>Edit</button>
                </a>
            </td>
            <td>
                <a th:href="@{/app/delete/ticket/{id}(id=${task.id})}">
                    <button>Delete</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>