<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

</head>
<body>
<div class="container">
    <h3 class="center">Tittle: <span th:text="${document.tittle}"> Title </span></h3>
    <div>
        <p>Theme: <span th:text="${document.theme}"> Author </span></p>
    </div>
    <div>
        <span th:text="${document.createdDate}"> createDate </span>
    </div>
    <p>Document for task: <a th:href="@{/task/view/{id}(id=${document.task.id})}"><span th:text="${document.task.tittle}">tittle</span></a></p>
    <a th:href="@{/document/download/{id}(id=${document.id})}">Download document</a>
</div>
<div th:insert="~{footer :: mainPage}"></div>
</body>
</html>